#userInput {
  margin-top: 100px;
}

#header {
  font-size: 50px;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  background-image: url(http://c1.live-sports-stream.net/media-resources/other/bodybg_nba-stream_3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.gifContainer {
  margin: 10px;
  display: inline-block;
}
.searchButtons {
  margin: 7px 10px;
}

.gifRating {
  color: white;
  font-size: 17px;
}
